<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservices_app.chatservice.modules.chat.mapper.IChatMapper">

    <select id="getInfo" resultType="com.microservices_app.chatservice.modules.chat.entity.Chat">
        SELECT * FROM Chats WHERE id = #{id}
    </select>
</mapper>