<div class="top-nav-inner">
    <a href="/">Home</a>
    <a href="/requests/">Requests</a>
    <div class="search-bar">
        <form action="" class="search-parent">
            <input type="text" class="search" placeholder="german politician speech wav" />
            <input type="submit" class="search-btn" value="Search">
        </form>
    </div>
    <a href="/newRepo/" id="new-repo-btn">
        New Repo
    </a>
    <a href="/request/" id="request-data-btn">
        Request Data
    </a>
</div>
