<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservices_app.userservice.modules.profile.mapper.IProfileMapper">

    <select id="getInfo" resultType="com.microservices_app.userservice.modules.profile.entity.Profile">
        SELECT * FROM Profiles WHERE id = #{id}
    </select>
</mapper>