@import "theme";

.sidebar-nav {
  width: 280px;
  height: 100%;
  background: $base-darkbackground-color;
  padding-top: 80px;
  display: block;
  position: fixed;
  top: 0;
}

.sidebar-nav ul li a {
  text-decoration: none;
}

.sidebar-nav ul li a:hover {
  text-decoration: underline;
}

.sidebar-nav li a {
  cursor: pointer;
}

.right-sidebar-nav {
  right: 0;
}

.nav {
  list-style-type: none;
}

.nav > li > a {
  font-size: 14px;
  color: $base-color;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.content-container {
  margin-left: 280px;
  height: 100%;
  width: 800px;
  top: 0;
  padding: 100px 60px;
}