@import "theme";

.top-nav {
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 1px 1px -1px gray;
  z-index: 999;
}

#top-nav-inner {
  margin: auto;
}

#top-nav-inner a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 32px 12px;
  color: black;
}

#top-nav-inner a:hover {
  background: #eeeeee;
}

.auth {
  float: right;
}

#top-nav-inner .search-bar {
  display: inline-block;
  margin: 0 0 0 0.6em;
}

.search-input {
  height: 32px;
  min-width: 500px;
  border: 2px solid $base-color;
  border-radius: 2px;
  padding-left: 12px;
  font-size: 16px;
  display: inline-block;
}

@media only screen and (max-width: 1400px) {
  #top-nav-inner {
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
  }
}