<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservices_app.postservice.modules.repo.mapper.IRepoMapper">
    <select id="getAllRepos" resultType="com.microservices_app.postservice.modules.repo.entity.Repo">
        SELECT * FROM Repos
    </select>

    <select id="getById" resultType="com.microservices_app.postservice.modules.repo.entity.Repo">
        SELECT * FROM Repos WHERE id = #{id}
    </select>

    <insert id="newRepo">
        INSERT INTO Repos (id, name, description) VALUES (#{id}, #{name}, #{description})
    </insert>
</mapper>